<%= form_for @artist, :html => { :multipart => true } do |f| %>

<% if @artist.errors.any? %>
<h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

<ul>
  <% @artist.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%= f.label(:photo, "Photo File") %>
<br />
<%= f.file_field :photo %>
<br />
<%= f.label(:name, "Name:") %>
<br />
<%= f.text_field(:name) %>
<br />
<%= f.label(:bio, "Bio:") %>
<br />
<%= f.text_area(:bio) %>
<br />
<%= f.label(:sizex, "Vertical Photo size") %>
<br />
<%= f.text_field(:sizex) %>
<br />
<%= f.label(:sizey, "Horizontal photo size") %>
<br />
<%= f.text_field(:sizey) %>
<br />
<br />
<%= f.submit("Submit") %> 
<% end %>
