<h1>Editing artist</h1>
<div id="TextContain">
<%= form_for @artist, :html => { :multipart => true } do |f| %>

  <% if @artist.errors.any? %>
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
<%= f.label(:photo, "Photo File") %>
<br />
<%= f.file_field :photo %>
<br />
<%= f.label(:name, "Name:") %>
<br />
<%= f.text_field(:name) %>
<br />
<%= f.label(:bio, "Bio:") %>
<br />

<%= f.text_area(:bio) %>
<br />
<%= f.label(:sizex, "Photo display vertical size") %>
<br />
<%= f.text_field(:sizex) %>
<br />
<%= f.label(:sizey, "Photo display horizontal size") %>
<br />
<%= f.text_field(:sizey) %>
<br />
<br />
<%= f.label(:stillthere, "Is the artist currently living at the house. 0 for no, 1 for yes.") %>
<br />
<%= f.text_field(:stillthere) %>
<br />

<%= f.submit("Submit") %> 
<% end %>
<br /><br />
<%= link_to 'Show', @artist %> |
<%= link_to 'Back', artists_path %>
</div>
