<p id="notice"><%= notice %></p>
      <div id="ArtistList">
<h1>Our Talented Artists</h1>


<% @artists.each do |artist| %>
  <br />
    <!-- <td><%= artist.name %></td> -->
    <!-- <td><%= artist.bio %></td> -->
    <%= link_to artist.name, artist %>
    <!-- <td><%= link_to 'Edit', edit_artist_path(artist) %></td>  -->
    <!-- <td><%= link_to 'Destroy', artist, :confirm => 'Are you sure?', :method => :delete %></td> -->

<% end %>

<br />
</div>
<!-- <%= link_to 'New Artist', new_artist_path %> -->
