
<p id="notice"><%= notice %></p>
<ul id="biolist">
<li class="bioli">
<div id="ArtistPic">
<%= image_tag (@imgtag, :size => "375x350", :border=> 5) %>
</div>
</li>
<li class="bioli">
<div id="ArtistLeft">	

  <b>Name:</b>
  <%= @artist.name %>

<div id="floater">
<p clear="both", height="350px", position="relative">
  <b>Bio:&nbsp&nbsp</b>
  <%= @artist.bio.gsub( '\n', "<br \/><br \/>").html_safe %>
<br /><br /><center>
<%= link_to 'Artists', artists_path %> 
<br />
<%= link_to ("See their art" , :controller => "works", :action => "show_artist", :id => @artist.id) %>
</center>
</p>
</div>
<!-- <%= link_to 'Edit', edit_artist_path(@artist) %> | -->
</div>
</li>
</ul>
