
<p id="notice"><%= notice %></p>

<div id="ArtistPic">
<%= image_tag (@imgtag, :size => "375x350", :border=> 5) %>
</div>
<div id="ArtistLeft">	
<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>
<div id="floater">
<p clear="both", height="350px", position="relative">
  <b>Bio:&nbsp&nbsp</b>
  <%= @artist.bio.gsub( '\n', "<br \/><br \/>").html_safe %>
<br /><br /><center>
<%= link_to 'Back', artists_path %> </center>
</p>
</div>

<!-- <%= link_to 'Edit', edit_artist_path(@artist) %> | -->



</div>
