<%= form_for @work, :html => { :multipart => true } do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.label(:photo, "Photo File") %>
<br />
<%= f.file_field :photo %>
<br />  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.hidden_field :artist_id %>
  </div>
  <div class="field">
    <%= f.label :sizex, "Display size horizontal typically about 375" %><br />
    <%= f.text_field :sizex %>
  </div>
  <div class="field">
    <%= f.label :sizey, "Display size vertical typically about 375"%><br />
    <%= f.text_field :sizey %>
  </div>
  <div class="field">
    <%= f.label :medium %><br />
    <%= f.text_field :medium %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :price, "Price: Dollars" %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :seller %><br />
    <%= f.text_field :seller %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
