
<p id="notice"><%= notice %>
</p>

<% if Integer(@list) * @numperpage < @works.length then%>
   <% @max = Integer(@list) * @numperpage -1 %>
   <% else%>
   <% @max = (@works.length) -1 %>
   <% end%>
   <% @start = (Integer(@list)-1) * @numperpage%>
   <% unless @max < @start then %>
      <div id="PersonalListing">
	<%if @artist.nil? then %>
	<h3>The Artwork: page 
	  <%= @list%>
	  <br />
	</h3>
	<% else %>
	<h3><%= link_to (@artist.name, :controller => "artists", :action => "show", :id => @artid) %>'s Artwork: page 
	  <%= @list%>
	  <br />
	</h3>
	<%end%>
	<p id="bottom">

	  <% @count = @workcount / @numperpage + 1%>
	  <% unless @count == 1%>
	  <% for each in 1..@count%>
	  <%= link_to (each, :controller => "works", :action => "show_artist", :list => "#{each}", :id => @artid) %>
<% end%>
<% end%>
</p>
</div>

  <table class="out">
    <% (@start..@max).each do |index| %>
    <% @offset = index - @start %>
    <% if (@offset  == (@offset / @numperline) * @numperline ) then%>
    <% unless @locclose = 1%>
    <% @locclose = 1 %>
    <tr>
      <% else%>
    </tr>
    <tr>
      <% end %>
      <% end %>
      <td class="outer">
	<table class="nested">
	  <tr>
	    <td class="inner">
	      <div id="imageinstance">
	      <% @img = @works[index] %>
	      <% @imgtag = "gallery/" + @img.name + ".jpg" %>
	      <% unless FileTest.exists?("#{RAILS_ROOT}/public/images/#{@imgtag}") %>
	      <% @imgtag = "NoImg.jpg" %>
	      <% end %>
	      <%= link_to image_tag (@imgtag, :size => "200x200"), @img %>
    <div id="tagger">        <%= @works[index].name %>
    <br/>by
    <% @linkname= @works[index].artist.name%>
    <% @linkpath = @works[index].artist %>
    <%= link_to @linkname, @linkpath%>
</div>
</div>

	    </td>
	  </tr>
	</table>
      </td>

      <% end %>
    </tr>
  </table>

<% else %>
<div id="PersonalListing">
<%if Integer(@list) == 1 then%>
<h3>This artist hasn't posted any of their work. </h3>
<%= link_to( "The Artist", :controller => "artists", :action => "show", :id => @artid) %>
<% else %>
<h3>There is no artwork on this page </h3>
<% end %>
</div>
<% end %>
