<ul id="artlist">
<li>


<div id="ArtLeft">

  <p id="notice"><%= notice %></p>
  <br />
  <b>Name:</b>
  <%= @work.name %>
  <br />
  <b>Artist:</b>
  <%= Artist.find(@work.artist_id).name %>
  <br />
  <b>Medium:</b>
  <%= @work.medium %>
  <br />
  <b>Date:</b>
  <%= @work.date %>
  <br />
  <b>Size:</b>
  <%= @work.size %>
  <br />
  <b>Status:</b>
  <%= @work.status %>
  <br />
  <b>Price:</b>
  <%= @work.price %>
  <br />
  <b>Seller:</b>
  <%= @work.seller %>

  <!-- <%= link_to 'Edit', edit_work_path(@work) %> | -->
  <%= link_to 'Back', works_path %>

</div>
</li>
<li>

<span id="ArtPic">
  <%= image_tag(@imgtag, :size => "#{@sizex}x#{@sizey}", :border => 5) %>
</span>

</li>
</ul>
