<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
  <br/>


  <b>Date:</b>
  <%= @event.date %>
  <br/>


  <b>Time:</b>
  <%= @event.time %>
  <br/>


  <b>Place:</b>
  <%= @event.place %>
</p>
<p>
 <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to('Delete', @event, :method => :delete) %>
