<!DOCTYPE html>
<html>
<head>
	  <link href="#{RAILS_ROOT}/public/stylesheets/style.css" rel="stylesheet" type="text/css">
  <title>Art House: <%= @title%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
	<div id="header"></div>
	<div id="leftnav">
		<%= link_to "About Us" , "/pages/about"%><br>
		<%= link_to "Contact Us" , "/pages/contact"%><br>
		<%= link_to "Events" , "/pages/events"%><br>
		<%= link_to "Gallery" , "/works"%><br>
		<%= link_to "The Artists" , "/artists"%><br>
		
	</div>
	<div id="rightnav">
		<h4>Works by:</h4>
		<%for each in @artists%>
		<%= link_to (each.name , :controller => "works", :action => "show_artist", :id => each.id) %>
		<br />
		<%end%>
	</div>
	<div id="body">
<%= yield %>
	</div>
	</div>
</body>
</html>
 
