
  <%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label "New Account Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "New Password Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Artist id, found when viewing the artist: -1 if not created yet or not an artist" %><br />
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label "Permission: -1 for new artist, -2 for new artist that will administrate. 0 for existing artist. 1 for administrator. 2 for Super" %><br />
    <%= f.text_field :permission %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
