<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Artist</th>
    <th>Permission</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% unless @accounts.nil? %>
<% @accounts.each do |account| %>
  <tr>
    <td><%= account.username %></td>
    <td><%= account.artist %></td>
    <td><%= account.permission %></td>
    <td><%= link_to 'Make Super', :controller => "accounts", :action => 'makesuper', :id => account.id %></td>
    <td><%= link_to 'Make Admin', :controller => "accounts", :action => 'makeadmin', :id => account.id %></td>
    
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
