<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @account.username %>
</p>

<p>
  <b>Hashedpass:</b>
  <%= @account.hashedpass %>
</p>

<p>
  <b>Artist:</b>
  <%= @account.artist %>
</p>

<p>
  <b>Permission:</b>
  <%= @account.permission %>
</p>

<p>
  <b>Salt:</b>
  <%= @account.salt %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
